# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal
staticfiles/
media/

# macOS
.DS_Store

# IDE/editor
.vscode/
.idea/
